---
layout: default
---

<article>
	<header class="post-header">
		<h4 class="post-title"><a href="{{ page.url }}">{{ page.title }}</a></h4>
		{% if page.author %}
		<center><h6 style="text-transform: uppercase;letter-spacing: 2px;font-weight:bold;font-size:smaller;">BY {{ page.author }}</h6></center>
		{% endif %}
	</header>

<hr style="width:50%;">
	<div class="post-content">
		{{ content }}
	</div>

	<div class="post-tags">
	<p><small> {% assign sortedTags = page.tags | sort %}
    {% for tag in sortedTags %}
    #<a href="/tags/{{ tag }}">{{ tag }}</a>
    {% endfor %}
</small></p>
	</div>
</article>
